.profile-card {
    width: 300px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.info {
    color: #4b4fe2;
    margin-right: 10px;
}
.main-container {
    padding: 20px;
    margin-left: 10%;
}
.title {
    margin-left: 5px;
}
.profile-pic {
    width: 60%;
    margin-left: 18%;
    object-fit: cover;
}
.btn {
    display: inline-block;
    border: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}
.btn a {
    text-decoration: none;
}
@media screen and (min-width: 419px) {
    .profile-pic {
        width: 40%;   
        margin-left: 30%;
    }
    .profile-card {
        width: 100%;
    }
}