.view {
    max-width: 1200px;
    width: 100%;
    margin: 60px auto;
    box-shadow: 0 0 5px #ccc;
}
.details {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.details .big-img {
    max-width: 430px;
    min-width: 290px;
    overflow: hidden;
    margin: 15px;
}
.big-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
}
.details .box {
    max-width: 350px;
    min-width: 290px;
    margin: 15px;
}
.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.box .row h2{
    color: #0e5996;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.box .row span{
    color: #ed143d;
    margin-left: 20px;
}
/* .box .colors button {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
} */
.box p {
    line-height: 1.5;
    margin: 15px 0;
}
.box .cart{
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 8px 19px;
    margin-top: 15px;
}
.box .cart:hover {
    border-radius: 5px;
}
.filelist {
    margin: 20px auto 0;
}
.filelist li {
    display: flex;
    background: rgba(4, 129, 247, 0.1);
    padding: 10px 20px;
    margin: 5px 0;
    color: #4d4d4d;
    transition: .5s;
}
.filelist li:nth-child(1) {
    background: rgba(135 255 233 / 60%);
}
.filelist li:nth-child(2) {
    background: rgba(102 180 255 / 40%);
}
.filelist li:nth-child(3) {
    background: rgba(29, 143, 250, 0.2);
}
.number {
    width: 17px;
}
/* .filelist li span:nth-child(2) {
    width: 200px;
}  */
.filelist li span:nth-child(3) {
    width: 100px;
    text-align: right;
}
.filelist li span:nth-child(4) {
    width: 70px;
    text-align: right;
}
.filelist li:hover {
    transform: scale(1.06);
    background: #f1f1f1;
}
@media (max-width: 630px) {
    .details {
        flex-wrap: wrap;
    }
}