.navbar {
    background-color: #2383d1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
}
.navbar span a {
    color: #f5f5f5;
    font-size: 1.55rem;
    text-decoration: none;
}
.nav-menu {
    background-color: #2383d1;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #51d66a;
}
.nav-menu-items {
    width: 100%;
}
.navbar-toggle {
    background-color: #2383d1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span {
    margin-left: 16px;
    font-size: 1.12rem;
}
.auth-options {
    display: flex;
    height: 50%;
}
.auth-options button {
    padding: 0 1rem;
    color: #f5f5f5;
    border: none;
    font-size: 1.1rem;
    background-color: #0560ac;
}
.auth-options button:hover {
    background-color: #127ed6;
}
@media screen and (max-width: 550px) {
    .auth-options button {
        padding: 0 0.5rem; 
        font-size: 0.9rem;
    }
}